.creator-card-main{
  width: 350px;
  max-width: 400px;
  padding: 8px 8px 30px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(36, 52, 71, 0.08);
  background-color: #fff9f9;
  box-shadow: 0 8px 20px rgba(36, 52, 71, 0.15);
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.creator-card-main:hover{
  transform: translateY(-7px);
}

.creator-card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;
  padding: 0px;

  
  border: 1px solid rgb(239, 243, 243);
  border-radius: 20px;

  overflow: hidden;

}

.creator-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.creator-card-name{
  font-family: 'Caacupe One', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #243447;
  margin: 20px;
}

.view-more-details-button {
  font-family: 'Inter', sans-serif;
  padding: 14px 16px;
  border: none;
  border-radius: 8px;
  background-color: #243447;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
}